.info-box {
    display: none;
    /* 정보 창이 기본적으로 숨겨져 있도록 설정합니다. */
    position: absolute;
    /* 절대 위치로 설정하여 알람 이미지와 겹치지 않도록 합니다. */
    background-color: #f9f9f9;
    /* 배경색을 설정합니다. */
    padding: 30px;
    /* 안쪽 여백을 추가하여 내용이 더 잘 보이도록 합니다. */
    border: 1px solid #ccc;
    /* 테두리를 추가하여 정보 창이 더욱 돋보이도록 합니다. */
    border-radius: 5px;
    /* 테두리를 둥글게 만들어 외관을 개선합니다. */
    z-index: 1;
    /* 다른 요소보다 위에 표시되도록 z-index를 설정합니다. */
    margin-top: 180px;
    margin-right: 20px;
  }