body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.navbar .left-section {
    display: flex;
    align-items: center;
}
.navbar .logo img {
    width: 150px;
    height: auto;
    margin-left: 25px;
}
.navbar .menu {
    display: flex;
    align-items: center;
    margin-left: 15px;
}
.navbar .menu a {
    text-decoration: none;
    color: black;
    font-size: 1em;
    margin: 0 10px;
    padding: 10px;
}
.navbar .menu a.active {
    color: black;
    font-weight: bold;
    font-size: 30px;
}
.navbar .menu a.inactive {
    color: gray;
    font-size: 30px;
}
.navbar .login {
    display: flex;
    align-items: center;
}
.navbar .login img {
    width: 200px;
    height: auto;
    margin-right: 25px;
}
.navbar .login a {
    text-decoration: none;
    color: black;
    font-size: 1em;
}
header {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 40px;
}
#item-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: white;
}
.form-group {
    margin-bottom: 20px;
}
.form-group-inline {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
label {
    display: block;
    margin-bottom: 5px;
}
input[type="email"],
input[type="text"],
input[type="password"] {
    flex-grow: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input#email-id {
    width: 80px; /* 이메일 ID 입력란의 너비 */
}
input#email-verification {
    width: 450px; /* 이메일 확인 입력란의 너비 */
}
input#password,
input#confirmPassword {
    width: 450px; /* 비밀번호 입력란의 너비 */
}
button {
    width: 100px;
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
}
.submit-button {
    width: 300px;
    display: block;
    margin: 0 auto;
}
small {
    color: red;
    display: block;
    margin-top: 5px;
}